img{
    height: 130px;
}

.img-fluid{
    height: 18em;
    padding: 1.5em;
}

.pseudo{
    font-style: italic ;
}

.card{
    background-color: rgba(216, 216, 216, 0.186);
    border: none;
}

.category{
    color: rgb(164, 164, 164);
}

.link{
    color: rgb(122, 165, 42);
}

.content{
    text-align: justify;
}

.footer{
    text-align: center;
}